@model IEnumerable<string>

<a class="nav-item text-dark mr-auto p-1 text-decoration-none @*btn-block btn-secondary*@"
     asp-action="List"
     asp-controller="Product"
     asp-route-category="">
     Home
</a>
@foreach (string category in Model) {
  <a class="nav-item  mr-auto p-1 text-dark text-decoration-none @*btn-block
          @(category == ViewBag.SelectedCategory ? "btn-primary": "btn-secondary")*@"
          asp-action="List"
          asp-controller="Product"
          asp-route-category="@category"
          asp-route-productPage="1">
          @category

  </a>
}
